.dashboard_main_section {
  min-width: 85%;
  box-sizing: border-box;
  background: rgb(9, 9, 63);
  background: linear-gradient(
    90deg,
    rgba(9, 9, 63, 1) 59%,
    rgba(16, 33, 128, 1) 100%
  );
  margin: 10px 10px 0px 10px;
  border-radius: 5px;
  min-height: 90vh;
}

@media only screen and (max-width: 564px) {
  .dashboard_main_section {
    width: 100%;
    margin: 5px 5px 0px 5px;
  }
}
